.border-dashed {
  border-style: dashed !important;
}
.border-dotted {
  border-style: dotted !important;
}

body {
  background-color: aliceblue;
  color: white
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}

h3:hover {
  background-color:blue;
  font-size: 25px;
}


#message {
  width:100%;
}

# 