
body {
  background-color:#4d4dff;
}

h3 {padding: 50px;
  background-color:	#5e0080;
  border-style: solid;
  border-top-color: #ff66cc;
    color: #FFDEAD;
  }
h1 {
  background-color:#99004d
  
}

h2{
  background-color: powderblue
  
}

p {
  color: #FFDEAD;
  font-family: serif;
  font-size: 22px;
  background-color: #5e0080
}
.border-dashed {
  border-style: dashed !important;
}

.border-dotted {
  border-style: dotted !important;
}

ul {
   background-color:#99004d
  
}

h1:hover {
  font-size: 67px;
}